<!DOCTYPE html>
<html>
<head>
    <title>Аеропорт Пасажир</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="search">
    <label>
        <input class="search_input" type="text" name="content" placeholder="Кількість_літаків>...">
        <input class="search_input" type="text" name="content2" placeholder="Кількість_персоналу<...">
        <input type="button" value="Найти" onclick="search_generate_url('Aeroport_A')">
    </label>
</div>

<h1>Аеропорт Пасажир</h1>

<p><a href="/">На головну</a></p>
<table>
    <tr><th>Назва</th><th>Країна</th><th>Адреса</th><th>Кількість_літаків</th><th>Кількість_персоналу</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Назва}}</td>
            <td>{{this.Країна}}</td>
            <td>{{this.Адреса}}</td>
            <td>{{this.Кількість_літаків}}</td>
            <td>{{this.Кількість_персоналу}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>