<!DOCTYPE html>
<html>
<head>
    <title>Аеропорт Пасажир</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/Pasazhyr">Назад</a></div>
</div>
<h1>Аеропорт Пасажир</h1>
<div class="search">
    <input class="search_input" type="text" name="content" placeholder="Кількість_літаків>...">
    <input class="search_input" type="text" name="content2" placeholder="Кількість_персоналу<...">
    <input type="button" value="Найти" onclick="search_generate_url('Aeroport_P')">
</div>
<table>
    <tr><th>Назва</th>
        <th>Країна</th>
        <th>Адреса</th>
        <th>Кількість_літаків</th>
        <th>Кількість_персоналу</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Назва}}</td>
            <td>{{this.Країна}}</td>
            <td>{{this.Адреса}}</td>
            <td>{{this.Кількість_літаків}}</td>
            <td>{{this.Кількість_персоналу}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>