<!DOCTYPE html>
<html>
<head>
    <title>Білет Адміністратор</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/Admin">Назад</a></div>
</div>
<h1>Білет Адміністратор</h1>
<div class="search">
        <input class="search_input" type="text" name="content" placeholder="Дата продажу">
        <input class="search_input" type="text" name="content2" placeholder="Рейс">
        <input type="button" value="Знайти" onclick="search_generate_url('Bilet_A')">
</div>
<table>
    <tr><th>Номер_білета</th><th>Авіакомпанія</th><th>Літак</th><th>Пасажир</th><th>Дата_продажу</th><th>Рейс</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Номер_білета}}</td>
            <td>{{this.Авіакомпанія}}</td>
            <td>{{this.Літак}}</td>
            <td>{{this.Пасажир}}</td>
            <td>{{this.Дата_продажу}}</td>
            <td>{{this.Рейс}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>