<!DOCTYPE html>
<html>
<head>
    <title>Екіпаж Адміністратор</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="search">
    <label>
        <input class="search_input" type="text" name="content" placeholder="Кількість кухарів > ...">
        <input class="search_input" type="text" name="content2" placeholder="Клас">
        <input type="button" value="Найти" onclick="search_generate_url('Ekipag_A')">
    </label>
</div>

<h1>Екіпаж Адміністратор</h1>

<p><a href="/">На головну</a></p>
<table>
    <tr><th>Номер_екіпажу</th><th>Клас</th><th>Кількість_пілотів</th><th>Кількість_кухарів</th><th>Кількість_бортпровідників</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Номер_екіпажу}}</td>
            <td>{{this.Клас}}</td>
            <td>{{this.Кількість_пілотів}}</td>
            <td>{{this.Кількість_кухарів}}</td>
            <td>{{this.Кількість_бортпровідників}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
}
</script>
</html>