<!DOCTYPE html>
<html>
<head>
    <title>Літак Пасажир</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/Pasazhyr">Назад</a></div>
</div>
<h1>Літак Пасажир</h1>
<div class="search">
        <input class="search_input" type="text" name="content" placeholder="Дата випуску">
        <input class="search_input" type="text" name="content2" placeholder="Марка">
        <input type="button" value="Знайти" onclick="search_generate_url('Litak_P')">
</div>
<table>
    <tr><th>Номер</th>
        <th>Модель</th>
        <th>Марка</th>
        <th>Кількість пасажирів</th>
        <th>Місткість_багажу</th>
        <th>Дата випуску</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Номер}}</td>
            <td>{{this.Модель}}</td>
            <td>{{this.Марка}}</td>
            <td>{{this.Кількість_пасажирів}}</td>
            <td>{{this.Місткість_багажу}}</td>
            <td>{{this.Дата_випуску}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>