<!DOCTYPE html>
<html>
<head>
    <title>Тариф на перевезення тварин Пасажир</title>
    <meta charset="utf-8" />
</head>
<body>
<div class="search">
    <label>
        <input class="search_input" type="text" name="content" placeholder="Ціна">
        <input class="search_input" type="text" name="content2" placeholder="Габарити(в*ш*г)">
        <input type="button" value="Найти" onclick="search_generate_url('Taryf_Tvaryna_P')">
    </label>
</div>

<h1>Тариф на перевезення тварин Пасажир</h1>

<p><a href="/">На головну</a></p>
<table>
    <tr><th>Тварина</th>
        <th>Вага(кг)</th>
        <th>Назва тарифу для тварин</th>
        <th>Ціна</th>
        <th>Габарити(в*ш*г)</th></tr>
    {{#each users}}
        <tr>
            <td>{{this.Тварина}}</td>
            <td>{{this.Вага}}</td>
            <td>{{this.Назва_тарифу_для_тварин}}</td>
            <td>{{this.Ціна}}</td>
            <td>{{this.Габарити}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>