<!DOCTYPE html>
<html>
<head>
    <title>Тариф для пасажирів Пасажир</title>
    <meta charset="utf-8" />
    <link href="/style_zapyt.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar">
    <div><a class="navbar__btn__back" href="/Pasazhyr">Назад</a></div>
</div>
<h1>Тариф для пасажирів Пасажир</h1>
<div class="search">
    <input class="search_input" type="text" name="content" placeholder="Посадковий талон">
    <input class="search_input" type="text" name="content2" placeholder="Ціна">
    <input type="button" value="Знайти" onclick="search_generate_url('Taryf_Pasazhyr_P')">
</div>
<table>
    <tr><th>Назва тарифу для пасажирів</th>
        <th>Посадковий талон</th>
        <th>Багаж</th>
        <th>Ручна поклажа</th>
        <th>Вибір місця</th>
        <th>Зміна бронювання</th>
        <th>Ціна</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{this.Назва_тарифу_для_пасажирів}}</td>
            <td>{{this.Посадковий_талон}}</td>
            <td>{{this.Багаж}}</td>
            <td>{{this.Ручна_поклажа}}</td>
            <td>{{this.Вибір_місця}}</td>
            <td>{{this.Зміна_бронювання}}</td>
            <td>{{this.Ціна}}</td>
        </tr>
    {{/each}}
</table>
</body>
<script>
    function search_generate_url(type) {
        let search_content = document.getElementsByName('content')[0].value
        let search_content2 = document.getElementsByName('content2')[0].value
        let url = '/' + type + '/' + search_content+ '/' + search_content2;
        location.assign(url);
    }
</script>
</html>